.productDetail {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 10px;
    background: #f8f8f8;
}

.productDetail .deleteButton {
    color: red;
}

.productDetail table {
    border-collapse: collapse;
}

.productDetail th, .productDetail td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

.productDetail tr:nth-child(even) {
    background-color: #f2f2f2;
}
