.changeLog {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 10px;
    background: #f8f8f8;
    display: flex;
}

.changeLog table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.changeLog th, .changeLog td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

.changeLog tr:nth-child(even) {
    background-color: #f2f2f2;
}

.changeLog tbody tr:hover {
    background-color: #c0e9f8;
}

.changeLog thead{
    background-color: #cecece;
}

.changeLog table p {
    margin: 0;
}