header {
    justify-content: space-around;
    display: flex;
    margin: 1px;
    align-items: center;
}

header .link {
    padding:0;
    margin: 1px;
    border: 2px solid black;

    flex: 1;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;

    font-weight: bold;
    text-decoration: none;
    color:black;

    transition: 0.2s;
}

header .link:hover {
    color: white;
    background-color: black;
}