.header {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f8f8f8;
}