.criticalProductList {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 10px;
    background: #f8f8f8;
    display: flex;
}

.criticalProductList table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.criticalProductList th, .criticalProductList td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

.criticalProductList tr:nth-child(even) {
    background-color: #f2f2f2;
}

.criticalProductList tbody tr:hover {
    background-color: #656363;
}

.criticalProductList thead tr {
    background-color: #cecece;
}

.criticalProductList table p {
    margin: 0;
}

